.possibility {
    background: rgba(0, 0, 0, 0.652);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    z-index: -1;
    height: 700px;
}

.possibility .possibility-text {
    color: white;
    padding-left: 5rem;
    padding-bottom: 15rem;
}

.possibility .possibility-text h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 140px;
}

.possibility .possibility-text h2 {
    font-size: 28px;
    font-weight: lighter;
    line-height: 45px;
}

.possibility .possibility-text .possibility-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}

.possibility .possibility-text .possibility-btn button {
    background-color: #F1A61E;
    width: 184px;
    height: 70px;
    border-radius: 10px;
    color: white;
    font-size: 28px;
    font-family: koulen;
}

.possibility .possibility-text .possibility-btn .btn2 {
    padding-right: 15rem;
}

.possibility-image img {
    width: 450px;
    height: 500px;
    padding-right: 5rem;
}





@media (max-width:500px) {

    .possibility {
        background: rgba(0, 0, 0, 0.652);
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        z-index: 1;
        height: 100%;
        width: 100%;
        text-align: center;
    } 
    
.possibility .possibility-text {
    color: white;
    padding-left: 5rem;
    margin-top: rem;
}

.possibility .possibility-text h1 {
    font-size: 50px;
    font-weight: 300;
    line-height: 140px;
}

.possibility .possibility-text h2 {
    font-size: 28px;
    font-weight: lighter;
    line-height: 45px;
}

.possibility .possibility-text .possibility-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}

.possibility .possibility-text .possibility-btn button {
    background-color: #F1A61E;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-family: koulen;
}


}