@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');


body{
font-family: 'koulen', cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

.hero {
    z-index: -1;
} 

.hero 

.bigbody{
    background: image(url(../src/assets/BIGBODY.svg));
}

.bigbody img{
     width: 100%;
    z-index: -1;
    position: relative; 
}

.bigbody .brand{
     position: absolute;
    top: 112%;
    width: 100%; 
}

.bigbody .audience {
    position: absolute;
    top: 167%;
}

.bigbody .features {
    position: absolute;
    top: 220%;
    width: 100%;
} 

.bigbody .possibility {
    position: absolute;
    top: 322%;
    width: 100%;
}

.bigbody .cta {
    position: absolute;
    top: 425%;
    width: 100%;
} 



 New body 
.newbody{
    background: image(url(../src/assets/NEWBODY.svg));
}

.newbody img{
    width: 100%;
    z-index: -1;
    position: relative;
}

.newbody .roadmap {
    position: absolute;
    top: 540%;
    padding-left: 6rem;
    padding-top: 9rem;

}

.newbody .dao {
    position: absolute;
    top: 690%;
    padding-left: 6rem;
    padding-top: 9rem;
} 