@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');


body{
font-family: 'koulen', cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

.hero {
    z-index: -1;
}


.pagebody{
    background: image(url(../src/assets/BIGBODY.svg));
    align-items: center;
}

.pagebody img{
    width: 100%;
    z-index: -1;
    position: relative;
}




/* .collection {
    display: flex;
    position: absolute;
    top: 75%;
} */

.collection {
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100vw;
}




.brandleft{
   width: 400px;
   height: 300px; 
   margin-left:46rem;

}

.brandright{
    
    width: 400px;
    height: 300px; 
    margin-right:46rem;

 }

 .brandfront{
    width: 600px;
    height: 500px; 
    z-index: 1; 
    margin-top: 2rem;
    box-shadow: 3rem;
 }


/* .brandright{
    width: 25%;
    padding-left: 15rem;
}

.brandright img {
    height: 400px;
    width: 400px;
}

.brandleft {
    width: 40%;
    padding-top: 5rem;
    padding-left: 20px;
}

.brandfront {
    width: 25%;
    padding-right: 15rem;
} */

.brandfront img {
    width: 400px;
    height: 400px;
}

.icons {
    display: flex;
    position: absolute;
    top: 145%;
}
.righticon {
    padding-left: 70rem;
}

.lefticon {
    padding-left: 3rem;
}

.lefticon img{
    width: 130px;
    height: 130px;
}

.righticon img {
    width: 130px;
    height: 130px;
}

.price {
    position: absolute;
    top: 175%;
    padding-left: 40rem;
}

.price h3 {
    font-size: 59px;
    font-weight: lighter;
}

.description {
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
    font-family: Dosis;
}

.description h3 {
    font-size: 30px;
}

.coming{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 67rem;
    text-align: center;
    width: 100%;
    
    margin-right:6rem;
      gap: 10px;

}

.utilities h2 {
    text-align: center;
}


.coming1 {
    display: flex;
    justify-content: center;
    align-items: center;
text-align: center;
width: 400px;
}

.coming2{
    display: flex;
    justify-content: center;
    align-items: center;
text-align: center;
width: 400px;

}

.countdown {
      text-align: center;
      display: flex;
    font-size: 30px;
    
}

.pgbtns {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 285%;
    padding-left: 28rem;
    padding-top: 7rem;
}

.connectwallet img{
    width: 200px;
    height: 48px;
}

.mintnow {
    padding-left: 5rem;
}
.mintnow img{
    width: 200px;
    height: 48px;
}



@media screen and (max-width:700px) {
    .pagebody{
        background: image(url(../src/assets/BIGBODY.svg));
        align-items: center;
        width: 100%;
    }
    
    .pagebody img{
        width: 500px;
        position: relative;
    }
    

    .pagebody .class {
        display: flex;
        margin-top: 5rem;
        justify-content: center;
    }
    
    .pagebody .class h1 {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 30px;
    }
     
.collection {
    display: flex;
    
    justify-content: center;
    width: 100%;
}

.front {
    width: 400px;
    height: 200px;
}

.left {
    width: 400px;
    height: 200px;
}

.right {
    width: 400px;
    height: 200px;
}


     
     .brandright{
         
         width: 400px;
         height: 300px; 
         margin-right:46rem;
     
      }
     
      .side2{
         width: 600px;
         height: 500px; 
         z-index: 1; 
         margin-top: 2rem;
         box-shadow: 3rem;
      }

    
    .icons {
        display: flex;
    }
    .righticon {
        display: flex;
        justify-content: end;


    }
    
    .lefticon {
display: flex;
justify-content: start;  
  }
    
    .lefticon img{
        width: 40px;
        height: 40px;
    }
    
    .righticon img {
        width: 40px;
        height: 40px;
    }
    
    .price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        
    }
    
    .price h3 {
        font-size: 35px;
        font-weight: lighter;
    }
    
    .description {
        display: flex;
        width: 400px;
        text-align: center;
        place-items: center;

        font-family: Dosis;
    }
    
    .description h3 {
        font-size: 12px;        
    }
    
    .utilities {
        display: block;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
    
    .utilities h2 {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

        font-size: 30px;
    }
    
    .coming {
        position: absolute;
        top: 107%;
        padding-left: 7rem;
        font-size: 20px;
        font-family: dosis;
        display: flex;
        padding-top: 10rem;
    }
    .coming1 {
        padding-left: 1rem;
    }
    
    .coming2 {
        padding-left: 2rem;
    }
    
    .countdown {
        position: absolute;
        top: 160%;
        padding-left: 12rem;
        font-size: 20px;
        padding-top: 3rem;
    }
    
    .pgbtns {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 138%;
        padding-left: 5rem;
        padding-top: 7rem;
    }
    
    .connectwallet img{
        width: 150px;
        height: 38px;
    }
    
    .mintnow {
        padding-left: 3rem;
    }
    .mintnow img{
        width: 150px;
        height: 38px;
    }
}