@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');


body{
font-family: 'koulen', cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

.hero {
    z-index: -1;
}


.pagebody{
    background: image(url(../src/assets/BIGBODY.svg));
    align-items: center;
}

.pagebody img{
    width: 100%;
    z-index: -1;
    position: relative;
}




/* .collection {
    display: flex;
    position: absolute;
    top: 75%;
} */

.collection {
    display: flex;
    position: absolute;
    justify-content: center;
}




.brandleft{
   width: 400px;
   height: 300px; 
   margin-left:46rem;

}

.brandright{
    
    width: 400px;
    height: 300px; 
    margin-right:46rem;

 }

 .brandfront{
    width: 600px;
    height: 500px; 
    z-index: 1; 
    margin-top: 2rem;
    box-shadow: 3rem;
 }


/* .brandright{
    width: 25%;
    padding-left: 15rem;
}

.brandright img {
    height: 400px;
    width: 400px;
}

.brandleft {
    width: 40%;
    padding-top: 5rem;
    padding-left: 20px;
}

.brandfront {
    width: 25%;
    padding-right: 15rem;
} */

.brandfront img {
    width: 400px;
    height: 400px;
}

.icons {
    display: flex;
    position: absolute;
    top: 145%;
}
.righticon {
    padding-left: 70rem;
}

.lefticon {
    padding-left: 3rem;
}

.lefticon img{
    width: 130px;
    height: 130px;
}

.righticon img {
    width: 130px;
    height: 130px;
}

.price {
    position: absolute;
    top: 165%;
    padding-left: 40rem;
}

.price h3 {
    font-size: 59px;
    font-weight: lighter;
}

.description {
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
    font-family: Dosis;
}

.description h3 {
    font-size: 30px;
}

.coming{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 67rem;
    text-align: center;
    width: 100%;
    
    margin-right:6rem;
      gap: 10px;

}

.utilities h2 {
    text-align: center;
}


.coming1 {
    display: flex;
    justify-content: center;
    align-items: center;
text-align: center;
width: 400px;
}

.coming2{
    display: flex;
    justify-content: center;
    align-items: center;
text-align: center;
width: 400px;

}

.countdown {
      text-align: center;
      display: flex;
    font-size: 30px;
    
}

.pgbtns {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 285%;
    padding-left: 32rem;
    padding-top: 7rem;
}

.connectwallet img{
    width: 200px;
    height: 48px;
}

.mintnow {
    padding-left: 5rem;
}
.mintnow img{
    width: 200px;
    height: 48px;
}



@media screen and (max-width:900px) {
    .pagebody{
        background: image(url(../src/assets/BIGBODY.svg));
        align-items: center;
        width: 100%;
    }
    .class{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: block;
        padding-right: 30rem;
        margin-top: 0;
        padding-top: 0;
        height: 0%;

         
    }
    .pagebody img{
        width: 500px;
        position: relative;
    }
    
    .pagebody .class {
        display: flex;
        justify-content: center;
    }
    
    .pagebody .class h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 30px;
    }
     
.collection {
    display: flex;
     height: 0%;
    justify-content: center;
    width: 100%;
}

.front {
    width: 400px;
    height: 200px;
}

.left {
    width: 400px;
    height: 200px;
}

.right {
    width: 400px;
    height: 200px;
}


     
     .brandright{
         width: 400px;
         height: 300px; 
         margin-right:46rem;
     
      }
      .collection{
        width:100%;
        margin-top: 10rem;
      }
     .class > h1{
        margin-top: 0;
        padding-top: 0;
        margin-right: 3rem;
        width: 100%;
        margin-bottom: 3rem;
        font-size: 30px;
        font-weight: 300;
     }
      .side2{
         width: 600px;
         height: 500px; 
         z-index: 1; 
         margin-top: 2rem;
         box-shadow: 3rem;
      }
.foot{

    width: 100%;
    margin-left: 2.5rem;
    height: 100%;
    margin-top: 40rem;
}
    
    .icons {
        display: flex;
    }
    .righticon {
        display: flex;
        justify-content: end;


    }
    
    .lefticon {
display: flex;
justify-content: start;  
  }
    
    .lefticon img{
        width: 40px;
        height: 40px;
    }
    
    .righticon img {
        width: 40px;
        height: 40px;
    }
    
    .price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        
    }
    .coming1 > h3{
        display: flex;
        justify-content: center;
        text-align: center;

    }
    
    .price h3 {
        font-size: 35px;
        font-weight: lighter;
        margin-top: 10rem ;
    }
    
    .description {
        display: flex;
        width: 400px;
        justify-content: center;
        text-align: center;
        margin-top: 6rem;

        font-family: Dosis;
    }
    
    .description h3 {
        font-size: 12px;        
    }
    
    .utilities {

        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 20rem;
    }
    
    .utilities h2 {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-right: 13rem;
        font-size: 30px;
    }
    
    /* .coming {
        display: block;
        text-align: center;
        font-size: 20px;
        font-family: dosis;
        display: flex;
height: 0%; 
   } */
    .coming1 {
        display: flex;
        text-align: center;
        height: 0%; 
        padding-left: 1rem;
        margin-top: 30rem;
        z-index: 1;
    }
    
    .coming2 {
        display: flex;
        text-align: center;
        height: 0%; 
        padding-left: 3rem;
    }
    
    .countdown {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 12rem;
        font-size: 20px;
        margin-top: 20rem;
    }
    .pagebody img{
        width: 100%;
        z-index: -1;
        position: relative;
    }
    
    .pgbtns {
        display: flex;
        justify-content: center;
        margin-left: 3rem;
        margin-top: 16rem;
    }
    
    .connectwallet img{
        width: 150px;
        height: 38px;
    }
    
    .mintnow {
        padding-left: 3rem;
    }
    .mintnow img{
        width: 150px;
        height: 38px;
    }
}


@media screen and (max-width:700px) {
    .pagebody{
        background: image(url(../src/assets/BIGBODY.svg));
        align-items: center;
        width: 100%;
    }
    .class{
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;
        padding-right: 30rem;
        margin-top: 0;
        padding-top: 0;
        height: 0%;

         
    }
    .pagebody img{
        width: 500px;
        position: relative;
    }
    
    .pagebody .class {
        display: flex;
        justify-content: center;
    }
    
    .pagebody .class h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 30px;
    }
     
.collection {
    display: flex;
     height: 0%;
    justify-content: center;
    width: 100%;
}

.front {
    width: 400px;
    height: 200px;
}

.left {
    width: 400px;
    height: 200px;
}

.right {
    width: 400px;
    height: 200px;
}


     
     .brandright{
         width: 400px;
         height: 300px; 
         margin-right:46rem;
     
      }
      .collection{
        width:100%;
        margin-top: 10rem;
      }
     .class > h1{
        margin-top: 0;
        padding-top: 0;
        margin-right: 3rem;
        width: 100%;
        margin-bottom: 3rem;
        font-size: 30px;
        font-weight: 300;
     }
      .side2{
         width: 600px;
         height: 500px; 
         z-index: 1; 
         margin-top: 2rem;
         box-shadow: 3rem;
      }
.foot{
    width: 100%;
    margin-left: 2.5rem;
    height: 100%;
}
    
    .icons {
        display: flex;
    }
    .righticon {
        display: flex;
        justify-content: end;


    }
    
    .lefticon {
display: flex;
justify-content: start;  
  }
    
    .lefticon img{
        width: 40px;
        height: 40px;
    }
    
    .righticon img {
        width: 40px;
        height: 40px;
    }
    
    .price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        
    }
    .coming1 > h3{
        display: flex;
        justify-content: center;
        text-align: center;

    }
    
    .price h3 {
        font-size: 35px;
        font-weight: lighter;
        margin-top: 10rem ;
    }
    
    .description {
        display: flex;
        width: 400px;
        justify-content: center;
        text-align: center;
        margin-top: 6rem;

        font-family: Dosis;
    }
    
    .description h3 {
        font-size: 12px;        
    }
    
    .utilities {

        display: block;
        justify-content: center;
        align-items: center;
        margin-top: 20rem;
    }
    
    .utilities h2 {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-right: 13rem;
        font-size: 30px;
    }
    
    /* .coming {
        display: block;
        text-align: center;
        font-size: 20px;
        font-family: dosis;
        display: flex;
height: 0%; 
   } */
    .coming1 {
        display: flex;
        text-align: center;
        height: 0%; 
        padding-left: 1rem;
        margin-top: 30rem;
        z-index: 1;
    }
    
    .coming2 {
        display: flex;
        text-align: center;
        height: 0%; 
        padding-left: 3rem;
    }
    
    .countdown {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 12rem;
        font-size: 20px;
        margin-top: 20rem;
    }
    .pagebody img{
        width: 100%;
        z-index: -1;
        position: relative;
    }
    
    .pgbtns {
        display: flex;
        justify-content: center;
        margin-left: 3rem;
        margin-top: 16rem;
    }
    
    .connectwallet img{
        width: 150px;
        height: 38px;
    }
    
    .mintnow {
        padding-left: 3rem;
    }
    .mintnow img{
        width: 150px;
        height: 38px;
    }
}