@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');


body{
font-family: 'koulen', cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

.hero {
    z-index: -1;
}

.hero 

.pagebody{
    background: image(url(../src/assets/BIGBODY.svg));
    align-items: center;
}

.pagebody img{
    width: 100%;
    z-index: -1;
    position: relative;
}

.pagebody .class {
    position: absolute;
    top: 35%;
}

.pagebody .class h1 {
    font-size: 60px;
    padding-left: 35rem;
}

.collection {
    display: flex;
    position: absolute;
    top: 75%;
}

.brandfront{
    width: 25%;
    padding-left: 15rem;
}

.brandfront img {
    height: 400px;
    width: 400px;
}

.brandright {
    width: 40%;
    padding-top: 5rem;
    padding-left: 20px;
}

.brandleft {
    width: 25%;
    padding-right: 15rem;
}

.brandleft img {
    width: 400px;
    height: 400px;
}

.icons {
    display: flex;
    position: absolute;
    top: 145%;
}
.righticon {
    padding-left: 70rem;
}

.lefticon {
    padding-left: 3rem;
}

.lefticon img{
    width: 130px;
    height: 130px;
}

.righticon img {
    width: 130px;
    height: 130px;
}

.price {
    position: absolute;
    top: 175%;
    padding-left: 40rem;
}

.price h3 {
    font-size: 59px;
    font-weight: lighter;
}

.description {
    position: absolute;
    top: 199%;
    padding-left: 15rem;
    font-family: Dosis;
}

.description h3 {
    font-size: 30px;
}

.utilities {
    position: absolute;
    top: 235%;
    padding-left: 43rem;
    padding-top: 5rem;
}

.utilities h2 {
    font-size: 45px;
    padding-top: 5rem;
}

.coming {
    position: absolute;
    top: 250%;
    padding-left: 5rem;
    font-size: 23px;
    font-family: dosis;
    display: flex;
    padding-top: 10rem;
}
.coming1 {
    padding-left: 30rem;
}

.coming2 {
    padding-left: 10rem;
}

.countdown {
    position: absolute;
    top: 315%;
    padding-left: 40rem;
    font-size: 30px;
    padding-top: 8rem;
}

.pgbtns {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 285%;
    padding-left: 32rem;
    padding-top: 7rem;
}

.connectwallet img{
    width: 200px;
    height: 48px;
}

.mintnow {
    padding-left: 5rem;
}
.mintnow img{
    width: 200px;
    height: 48px;
}

.bigbody .audience {
    position: absolute;
    top: 167%;
}

.bigbody .features {
    position: absolute;
    top: 220%;
    width: 100%;
}

.bigbody .possibility {
    position: absolute;
    top: 322%;
    width: 100%;
}

.bigbody .cta {
    position: absolute;
    top: 425%;
    width: 100%;
}



/* New body */
.newbody{
    background: image(url(../src/assets/NEWBODY.svg));
}

.newbody img{
    width: 100%;
    z-index: -1;
    position: relative;
}

.newbody .roadmap {
    position: absolute;
    top: 540%;
    padding-left: 6rem;
    padding-top: 9rem;

}

.newbody .dao {
    position: absolute;
    top: 690%;
    padding-left: 6rem;
    padding-top: 9rem;
}

.newbody .about {
    position: absolute;
    top: 810%;
    padding-left: 6rem;
    padding-top: 9rem;
}

.footer{
    display: block;
    align-items: center;
    background: #F1A61E;
    width: 100%;
    font-family: dosis;
}

.footerflex {
    display: flex;
    align-items: center;
    background: #F1A61E;
    width: 100%;
    font-family: Dosis;
}