 .App{
   width: 100%;
   height: 100%;
 
   
} 


.new{
   width: 100%;
   height: 100;
   
  }
  .footer{
   margin-bottom: 10rem;
   top:700%;
  }

/* .newbody{
   
  } */
  


   @media (max-width:500px) {

 .hero {
   /* display: flex;
   justify-content: center;
   align-items: center;
   justify-content: center;
   width: 100%;
   z-index: 1; */
} 

 .bigbody {
   position: fixed;
   width: 100%;
   /* height: 100%; */
   position: relative;
   z-index: -1;
} 

 .brand {
   padding: none;
   margin: none;
   width: 100%;
}

.logo {
   width: 100%;
   top: 138%;
} 

.features {
   width: 100%;
   position: absolute;
   top: 152%;
}

.possib {
   width: 100%;
   position: absolute;
   top: 289%;
}

.cta {
   width: 100%;
   position: absolute;
   top: 280%;
}

.blog {
   width: 100%;
   position: absolute;
   top: 300%;
   height: 0%;
   margin-top: 130rem;
   
   z-index: 1;
}

.newbody{
   display: none;
}

.footer {

}
   }




@media (screen) {
   
}

/* @media (max-width:700px) {
   
   .gradient_bg {
      width: 100%;
   }

   .hero {
      width: 100%;
   }

   .bigbody {
      width: 100%;
      position: relative;
      z-index: -1;
   }

   .brand {
      padding: none;
      margin: none;
      width: 100%;
   }

   .logo {
      width: 100%;
      top: 138%;
   }

   .features {
      width: 100%;
      position: absolute;
      top: 152%;
   }

   .possib {
      width: 100%;
      position: absolute;
      top: 289%;
   }

   .cta {
      width: 100%;
      position: absolute;
      top: 280%;
   }

   .blog {
      width: 100%;
      position: absolute;
      top: 300%;
      height: 0%;
      margin-top: 130rem;
      
      z-index: 1;
   }
}
 */


   
